.chatpage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: hidden;
    height: calc(100vh - 65px);

    &__left-section {
        position: relative;
        min-width: 360px;
    }

    &__mid-section {
        position: relative;
        width: 100%;
        border-left: 1px solid rgb(230, 230, 230);
        border-right: 1px solid rgb(230, 230, 230);
    }

    &__right-section {
        position: relative;
        min-width: 0;
        width: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
    }

    input#checkbox-for-chatroom-menu {
        display: none;
    }

    input#checkbox-for-chatroom-menu:checked ~ &__right-section {
        min-width: 300px;
        opacity: 1;
        visibility: visible;
    }
}