// .app-loading-spinner:
.app-loading-spinner-wrapper {
    display: inline-block;

    // .app-btn default style:
    .app-loading-spinner {
        color: transparent;
        background: transparent;
        position: relative;
        min-width: 15px;
        min-height: 15px;
        width: 100%;
        height: 100%;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 3px solid transparent;
            border-top-color: steelblue;
            border-radius: 50%;
            animation: Spinning 1s ease infinite;
        }
    }

    // .app-btn 'normal' style:
    .app-loading-spinner.normal {
        width: 25px;
        height: 25px;
    }
}


// Animations:
@keyframes Spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}