@use '_buttons.scss';
@use '_loadingSpinner.scss';

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}


// Scrollbar:
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: rgba(240, 242, 245, 0.5);
}

::-webkit-scrollbar-track:hover {
    background-color: rgb(240, 242, 245);
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
  border: calc((16px / 2) / 2) solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
    border: calc((16px / 2) / 2) solid transparent;
    background-clip: padding-box;
}


// Body:
body {
    padding: 0;
    margin: 0;
}


// prefers-reduced-motion:
// @media (prefers-reduced-motion: reduce) {
//     *,
//     ::before,
//     ::after {
//         // animation:
//         animation-delay: -1ms !important;
//         animation-duration: 1ms !important;
//         animation-iteration-count: 1 !important;
//         // transition:
//         transition-duration: 0s !important;
//         transition-delay: 0s !important;
//         // Others:
//         background-attachment: initial !important;
//         scroll-behavior: auto !important;
//     }
// }