.avatar-group {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;

    .avatar-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .avatar {
        display: inline-block;
        position: absolute;

        &__img {
            box-shadow: 0px 0px 0px 2px #fff;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #eee;
            cursor: pointer;
        }

        &__character {
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 0px 2px #fff;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #eee;
            font-size: 12px;
            cursor: pointer;
        }
    }
}

.avatar-group.small-size {
    width: 40px;
    height: 40px;

    .avatar__img,
    .avatar__character {
        width: 25px;
        height: 25px;
    }
}

.avatar-group.quite-small-size {
    width: 50px;
    height: 50px;

    .avatar__img,
    .avatar__character {
        width: 30px;
        height: 30px;
    }
}

.avatar-group.normal {
    width: 100%;
    height: 100%;

    .avatar__img,
    .avatar__character {
        width: 35px;
        height: 35px;
    }

    .avatar {
        &__character {
            font-size: 15px;
        }
    }
}

.avatar-group.one-img {
    background: #f5f5f5;
    border-radius: 50%;

    .avatar {
        &:nth-child(1) {
            top: 0;
            left: 0;
        }
    }
}

.avatar-group.two-imgs {
    .avatar {
        &:nth-child(1) {
            right: 0;
            top: 0;
        }

        &:nth-child(2) {
            left: 0;
            bottom: 0;
        }
    }
}

.avatar-group.three-imgs {
    .avatar {
        &:nth-child(1) {
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }

        &:nth-child(2) {
            left: 0;
            bottom: 0;
        }

        &:nth-child(3) {
            right: 0;
            bottom: 0;
        }
    }
}

.avatar-group.four-imgs {
    .avatar {
        &:nth-child(1) {
            left: 0;
            top: 0;
        }

        &:nth-child(2) {
            right: 0;
            top: 0;
        }

        &:nth-child(3) {
            left: 0;
            bottom: 0;
        }

        &:nth-child(4) {
            right: 0;
            bottom: 0;
        }
    }
}