.object-list-wrapper.for-chat-room-menu {
    background-color: #f9f9f9;

    .object {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 8px;
        user-select: text;
        // position: relative;
        cursor: auto;

        &__left-section {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
            flex-direction: row;
        }

        &__right-section {
            display: inline-block;
        }

        &__img-wrapper {
            display: inline-block;
            width: 36px;
            height: 36px;
            min-width: 36px;
            margin-right: 8px;
        }

        &__img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid #ddd;
            background-color: #eee;
        }

        &__character-name {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #eee;
            border: 2px solid #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
        }

        &__action-icon-wrapper {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            cursor: pointer;
        
            &:hover {
                background-color: #e4e6eb;
            }
        }

        &__action-icon {
            display: block;
            font-size: 18px;
        }

        &__title {
            font-weight: bold;
        }

        &__content {
            position: relative;
            font-weight: normal;
            font-size: 12px;
            padding-left: 16px;

            &::before {
                content: '\2022';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                font-size: 18px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &_role {
            font-size: 12px;
            font-style: normal;
        }

        &_role.label-arrow {
            position: relative;
            padding: 0 5px;
            background: steelblue;
            color: #fff;
            display: flex;
            min-width: 100px;
            width: 100px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 1;
            // Height = 20px;
            height: 20px;
            // Left Margin = tan(30deg) * 20/2;
            margin-left: 5.773502692px;

            &::before, &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 50%;
                height: 100%;
                background: steelblue;
                z-index: -1;
            }

            &::before {
                transform: skewX(30deg);
            }

            &::after {
                transform: skewX(-30deg);
            }

            .triangle-right {
                position: absolute;
                top: 0;
                left: 100%;
                width: 0;
                height: 0;
                border-left: 5.773502692px solid steelblue;
                border-right: 5.773502692px solid transparent;
                border-top: calc(20px / 2) solid transparent;
                border-bottom: calc(20px / 2) solid transparent;
            }
        }

        &__dropdown-button {
            position: relative;
            display: inline-block;
        }

        &__dropdown-menu {
            position: absolute;
            top: 100%;
            right: 0;
            margin-top: 8px;
            user-select: none;
            padding: 8px;
            border-radius: 10px;
            box-shadow: 0px 2px 10px 3px #ddd;
            min-width: calc(300px - 32px);
            width: calc(300px - 32px);
            height: auto;
            background-color: #fff;
            z-index: 90;
            transition: all 0.2s ease;
            // Hide:
            // display: none;
            opacity: 0;
            visibility: hidden;
            transform: scaleX(0.5) scaleY(0.5);
            transform-origin: top right;
        }

        &__dropdown-menu-item {
            padding: 8px;
            border-radius: 10px;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }
        }
    }

    .object.active {
        .object__action-icon-wrapper {
            background-color: lightblue;
        }

        .object__action-icon {
            color: steelblue;
        }

        .object__dropdown-menu {
            // display: block;
            opacity: 1;
            visibility: visible;
            transform: scaleX(1) scaleY(1);
        }
    }

    .object-list-action {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 8px;
        cursor: pointer;

        &:hover {
            background-color: #eee;
        }

        &__icon-wrapper {
            background-color: #f9f9f9;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            margin-right: 8px;
            cursor: pointer;
        }

        &__icon {
            display: block;
            font-size: 18px;
        }
    }
}