@use '_overlay.scss';


// Variables:
$avatar_size: 96px;


// Modal:
.modal-search-user-form {
    // display: none;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    z-index: 100;
    width: 350px;
    height: 500px;
    min-width: 350px;
    min-height: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px #888;
    border-radius: 10px;
    user-select: none;
    transition: all 0.3s ease;

    .modal-content-wrapper {
        height: 100%;
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }
}


// Forms:
.modal-search-user-form {

    .user-search-form-wrapper {
        height: 100%;
        min-width: 200%;
        display: flex;
        position: absolute;
        transition: all 0.3s ease;
    
        &.form-1 {
            left: 0;
        }
    
        &.form-2 {
            left: -100%;
        }
    }

    .user-search-form {
        height: 100%;
        max-width: 50%;
        min-width: 50%;
    
        &__search-box-wrapper {
            padding: 10px 16px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid #eee;
    
            .title {
                font-size: 15px;
                font-weight: normal;
                margin-right: 16px;
            }
    
            .search-field-wrapper {
                position: relative;
                width: 100%;
                background-image: linear-gradient(to right, #f0f2f5, #f0f2f5);
                background-repeat:no-repeat;
                background-size: 0 100%;
                background-position:top left;
                transition: all 0.3s ease;
            }
    
            .search-field-wrapper::after {
                position: absolute;
                bottom: 0;
                left: 0;
                content: '';
                width: 0%;
                height: 2px;
                background-color: steelblue;
            }

            .search-field-wrapper.focused {
                background-size: 100% 100%;
            }
    
            input[type=text]#keywordToSearchFor {
                border: none;
                outline: none;
                background-color: transparent;
                color: #000;
                padding: 5px 0px;
                font-size: 15px;
                width: 100%;
                border-bottom: 2px solid #ddd;
            }
    
            input[type=text]#keywordToSearchFor::placeholder {
                font-size: 14px;
                color: #aaa;
            }
        }
    
        &__userlist {
            height: 100%;
            max-height: calc(100% - 56.56px);
            overflow-y: auto;
        }
    
        &__navigation {
            position: relative;
        }
    }

    &.visible {
        // display: block;
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
        animation: displayModalSearchUserForm 0.5s;

        .search-field-wrapper::after {
            transition: width 0.3s ease 0.6s;
            width: 100%;
        }
    }
}


// Navigation:
.modal-search-user-form {

    .navigation {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 16px;
    
        &__left-section {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
        }
    
        &__right-section {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            align-items: center;
        }
    
        .nav_button {
            background-color: #eee;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            cursor: pointer;
        
            &:hover {
                background-color: rgb(221, 221, 221);
            }
    
            &__icon {
                display: block;
                font-size: 18px;
            }
        }
    
        .nav-title {
            font-weight: bold;
            margin-left: 8px;
        }
    }
}


// User profile:
.modal-search-user-form .quick-user-profile-wrapper {
    padding: 0 0 10px 0;
}

.modal-search-user-form .quick-user-profile {
    word-wrap: break-word;

    .img-wrapper {
        position: relative;
        margin-bottom: calc($avatar_size / 2 + 16px);
    
        .user-bg-img-wrapper {
            width: 100%;
            height: 150px;
            background-color: #eee;
            cursor: pointer;
        }
    
        .user-avatar-wrapper {
            display: inline-block;
            width: $avatar_size;
            height: $avatar_size;
            cursor: pointer;
            position: absolute;
            bottom: calc($avatar_size / -2);
            left: 50%;
            transform: translate(-50%, 0);

            .person-img-wrapper {
                width: 100%;
                height: 100%;
            }
        
            .user-avatar {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: #eee;
            }

            .user-character-name {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: #eee;
                border: 2px solid #ddd;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                font-weight: bold;
                text-shadow: 2px 2px 0px steelblue;
                cursor: pointer;
            }
        }
    }

    .info-wrapper {
        padding: 0 16px;
    }

    .info {
        user-select: text;
    
        &__user-name {
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            margin-bottom: 16px;
        }
    
        &__user-name-url {
            color: #000;
    
            &:hover {
                text-decoration: underline;
            }
        }
    
        &__actions {
            position: relative;
        }
    
        &__action-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 0;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }
    
        &__action-button {
            margin-right: 8px;
        }

        &__action-buttons {
            margin-right: 8px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            flex-wrap: wrap;
        }
    
        &__action-button:last-child,
        &__action-buttons:last-child {
            margin-right: 0;
        }
    }
}


// List of users:
.modal-search-user-form .userlist-wrapper {
    padding: 10px 0;
}

.modal-search-user-form .userlist {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__item:not(.sample) {
        padding: 0 8px;
        opacity: 0;
        animation: staggeredListForModalSearchUserForm 0.3s ease 1 normal;
        animation-fill-mode: forwards;
        animation-delay: calc(var(--order) * 0.2s);
    }
}

.modal-search-user-form .user {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;
    user-select: none;

    &:hover {
        background-color: #eee;
    }

    &__person-img {
        display: inline-block;
        min-width: 36px;
        width: 36px;
        height: 36px;
        margin-right: 10px;

        .person-img {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #eee;
            border: 1px solid #ddd;
        }

        .person-character-name {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #eee;
            border: 2px solid #ddd;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
        }
    }

    &__info {
        width: 100%;
        // flex-grow: 1;

        .user-title {
            position: relative;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 2px;
            border-radius: 5px;
            overflow: hidden;
        }

        .user-more-info {
            position: relative;
            font-size: 13px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            line-height: 20px;
            border-radius: 5px;
            overflow: hidden;
        }
    }
}

.modal-search-user-form .userlist.skeleton-loading {

    .user {
        cursor: default;
        user-select: none;

        &:hover {
            background-color: transparent;
        }

        &__person-img {

            .person-img,
            .person-character-name {
                border: none;
                overflow: hidden;
            }

            .person-img::before,
            .person-character-name::before {
                content: '';
                position: absolute;
                background-color: #dddddd;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 50%;
            }

            .person-img::after,
            .person-character-name::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(to right, #ddd 0%, #f5f5f5 50%, #ddd 100%);
                background-repeat: no-repeat;
                animation: skeletonLoadingLeftToRight 1s ease infinite alternate;
            }
        }

        &__info {

            .user-title::before,
            .user-more-info::before {
                content: '';
                position: absolute;
                background-color: #ddd;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            .user-title::after,
            .user-more-info::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: linear-gradient(to right, #ddd 0%, #f5f5f5 50%, #ddd 100%);
                background-repeat: no-repeat;
                animation: skeletonLoadingLeftToRight 1s ease infinite alternate;
            }
        }
    }
}

.modal-search-user-form .userlist.empty {
    display: block;
    
    .empty-search-result {
        display: block;
        padding: 10px 16px;
        cursor: auto;
        user-select: text;

        &__msg {
            font-size: 15px;
            font-style: italic;
            color: #888;
        }
    }
}


// Animations:
@keyframes displayModalSearchUserForm {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, -50%) scale(0.5);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.05);
    }
    75% {
        transform: translate(-50%, -50%) scale(0.95);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes skeletonLoadingLeftToRight {
    0% {
        left: -50%;
    }
    100% {
        left: 50%;
    }
}

@keyframes staggeredListForModalSearchUserForm {
    from {
        opacity: 0;
        transform: scaleX(0.5) translateY(50px);
    }
    to {
        opacity: 1;
        transform: scaleX(1) translateY(0)
    }
}


/* Responsive design:*/
@media screen and (max-width: 576px) {
    
    .modal-search-user-form {
        min-width: auto;
        width: calc(100vw - 16px - 16px);
        height: 60vh;
    }
}