.notification-list-wrapper.for-friend-request {
    position: relative;

    .notification-list {
        padding: 8px;
        min-height: 100px;
        max-height: 500px;
        overflow: auto;
    }

    .empty-notification-img-wrapper {
        min-width: 200px;
        min-height: 125px;
        width: 200px;
        height: auto;
    }

    .empty-notification-img {
        width: 100%;
        height: auto;
    }
}